/* 1. Usa um modelo de box-sizing mais intuitivo */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove a margem padrão do navegador */
*:not(dialog) {
  margin: 0;
}

/* 3. Habilita animações com palavras-chave */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Adiciona um line-height acessível */
  line-height: 1.5;
  /* 5. Melhora a renderização do texto */
  -webkit-font-smoothing: antialiased;
}

/* 6. Melhora os padrões de mídia */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Faz os controles de formulário herdarem a fonte */
input, button, textarea, select {
  font: inherit;
}

/* 8. Evita estouro de texto */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Melhora a quebra de linhas */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Cria um contexto raiz de empilhamento
*/
#root, #__next {
  isolation: isolate;
}
