:root {
      /*Animação padrão*/
    --transition-default: all 0.3s ease;
}

main{
     flex: 1; 
}


body {
  background-color: #121A24;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* =========================
   TIPOGRAFIA
========================= */
.hero-content,.about-content {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
}

.menu-list a {
  text-decoration: none;
  color: rgb(250, 250, 250);
  font-family: "Oswald", sans-serif;
  font-size: 25px;
}

.meu-nome {
  font-size: 90px;
  color: rgb(250, 250, 250);
  margin-bottom: 0;
}

.profissao {
  font-size: 50px;
  color: rgb(0, 171, 239);
  margin-top: 0;
}

.descricao{
  font-size: 30px;
  color: rgb(173, 188, 211);
}

/* =========================
   HEADER / MENU
========================= */
header {
  padding: 1rem 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.menu-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100rem;
  width: 100%;
  margin: 0 auto;
}

.menu-list {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.meu-avatar {
  max-width: 7%;
  height: auto;
}

.icone-kratos {
  max-width: 5%;
  height: auto;
}

/* =========================
   HERO SECTION
========================= */
.section-container {
  max-width: 100rem;/*Mesma largura do menu*/
  margin: 0 auto;/*centraliza: 0 em cima/baixo, auto nas laterais*/
  padding: 2rem 1rem; /*espaçamento interno*/
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /*border: 2px dashed #ccc; */
  
}

.card-direita img {
  max-width: 90%;
  flex: 1;
}

.descricao{
    text-align: left;
}

/*Animação flutuante*/
@keyframes float {
    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-1.25rem);
    }
}

.float-animation {
    animation: float 3s ease-in-out infinite;
}

/* =========================
   BOTÕES
========================= */
.botao-1,
.botao-2 {
  text-decoration: none;
  color: white;
  background-color: rgb(0, 123, 255);
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  font-family: Arial, sans-serif;
  font-weight: bold;
  border: none;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.botao-1:hover,
.botao-2:hover {
  background-color: rgb(0, 100, 210);
  transform: translateY(-2px);
}

/* =========================
   ABOUT SECTION
========================= */

.about-container {
  max-width: 100rem;/*Mesma largura do menu*/
  margin: 0 auto;/*centraliza: 0 em cima/baixo, auto nas laterais*/
  padding: 2rem 1rem; /*espaçamento interno*/
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 100%;
  /* border: 2px dashed #ccc;  */
}
.about-image img {
  width: 100%;
  height: auto;
}

.card-container {
  width: fit-content;
  padding: 20px;
  border-radius: 50px;
  /* border: 1px solid #ccc; */
}

.about-content{
    text-align: left;
    color: rgb(173, 188, 211);
    background-color: #1F2A3A;
    border-radius: 0.9%;
}

.about-content-titulo{
    font-size: 25px;
    color: #00ABEF;

}
.about-content-descricao{
    font-size: 20px;
}

.foto-do-perfil{
  max-width: 100%;
  object-position: center; /

  
}


